/*----------- Header -----------*/

.header__title {
    overflow: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: var(--mainYellow);
    background-color: var(--mainBlack);
    z-index: 4;
}

.header__img {
    width: 60px;
    height: auto;
}

/*----------- Main container -----------*/
#main_content {
    width: 100%;
    max-width: 400px;
    padding: 38.5px;
    margin: 0;
    color: var(--mainBlack);
    background-color: var(--mainWhite);
    border: 1px solid var(--mainBlack);
}

/*----------- Current Value -----------*/
.current {
    border: var(--mainBorder);
    margin-bottom: 30px;
    text-align: center;
}

.current__title {
    height: var(--mainTitleHeight);
    background-color: var(--mainYellow);
    border-bottom: var(--mainBorder);
    margin-top: 0;
}

.current__value {
    height: 40px !important;
}

.current__table table, th, td {
    border-collapse: collapse;
    border: none;
}

/* .current__table {
    width: 100%;
} */

.current__table th, .current__table td {
    width: 50%;
    height: 12px;
    text-align: center;
}

/*----------- Historic Values -----------*/
.historic__title {
    height: var(--mainTitleHeight);
    background-color: var(--mainYellow);
    border: var(--mainBorder);
    margin: 0;
}

.historic__table {
    width: 100%;
}

.historic__table, .historic__table th, .historic__table tr, .historic__table td {
    border-collapse: collapse;
    border: var(--mainBorder);
}

.historic__table th {
    width: 50%;
    height: var(--mainTitleHeight);
    font-size: 20px;
    background-color: var(--mainYellow);
}

.historic__table td {
    width: fit-content;
    height: 27px;
    text-align: center;
}

.historic__table span:hover {
    cursor: pointer;
    color: var(--mainRed);
}

.historic__search {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.historic__search__from, .historic__search__to {
    width: 45%;
    padding: 10px;
    height: 60px;
    font-size: 15px;
    text-align: center;
    font-size: 15px;
}

.historic__search__from input, .historic__search__to input {
    width: 100%;
    font-size: 15px;
}

.historic__search__goto {
    font-size: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.historic__search__goto button {
    width: 150px;
    height: 35px;
    background-color: var(--mainYellow);
    border-radius: 5px;
}

.historic__search__goto button:hover {
    background-color: var(--mainBlack);
    color: var(--mainYellow);
    font-weight: 700;
    transition: 0.2s ease-in-out;

}

/* Toast */
.show-toast {
    transition: all 0.3s ease-in-out;
    transform: translateX(0px) !important;
}

.hide-toast {
    transition: all 0.3s ease-in-out;
    transform: translateX(250vw) !important;
}

.toast {
    position: absolute;
    left: 45px;
    top: 140px;
    width: 400px;
    height: 360px;
    background-color: var(--mainWhite);
    color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: var(--mainBorder);
    color: var(--mainBlack);
    z-index: 2;
}

.toast__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 50px;
    width: 340px;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    background-color: var(--mainBlack);
    color: var(--mainWhite);
    font-size: 20px;
}

.toast__header:nth-child(1) {
    padding-left: 30px;
}

.toast__header:nth-child(3) {
    margin-right: 30px;
}

.toast__title {
    height: var(--mainTitleHeight);
    background-color: var(--mainYellow);
    border-bottom: var(--mainBorder);
    margin-top: 0;
}

.toast__table, .toast__table th, .toast__table tr, .toast__table td {
    border-collapse: collapse;
    border: var(--mainBorder);
}

.toast__table {
    width: 80%;
    margin: 10%;
    margin-top: 30px;
}

.toast__table th {
    width: 50%;
    height: var(--mainTitleHeight);
    background-color: var(--mainYellow);
    font-size: 18px;
}

.toast__table td {
    height: 40px;
    width: fit-content;
    text-align: center;
    font-size: 15px;
}

.backdrop {
    z-index: 1;
    background-color: #0505055e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

.toast__header button {
    width: 80px !important;
    height: 30px !important;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: var(--mainYellow);
}

.toast__header button:hover {
    background-color: var(--mainWhite);
    transition: all 0.2s ease-in-out;
    transform: scale(1.02);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.toast__header button:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.99) perspective(1px);
}

/*----------- Footer -----------*/

.footer__title {
    width: 400px;
    margin: 0;
    padding: 40px;
    text-align: center;
    color: var(--mainBlack);
    border: var(--mainBorder);
}