<div class="card-container mt-4">
    <!-- <div class="card-container-child mx-4" *ngFor="let content of contentDB" (click)=" updateModal(content, true)"> -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fw-bold">modalContent.title</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0 py-3">
                    <!-- <div *ngFor="let links of modalContent.solutions" class="col-5">
                            <a mat-stroked-button routerLink="/{{modalContent.week}}/{{links}}"
                                class="col-10 mx-4 py-1 my-1" data-bs-dismiss="modal">{{links}}</a>
                        </div> -->
                </div>
                <label for="start">Start date:</label>
                <input type="date" id="start" name="trip-start" value="{{todayDate}}" min="2018-01-01" max="2018-12-31">
                <label for="start">End date:</label>
                <input type="date" id="start" name="trip-start" value="{{endDate}}" min="2018-01-01" max="2018-12-31">
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                        (click)="getPrevious()">Close</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                        (click)="getCurrent()">current</button>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>