<!---------------------- Page Header  ---------------------->
<div id="header">
    <h1 class="header__title">
        <img class="header__img" src="../../../assets/bitcoin-icon.png" alt="">
        <div>&nbsp; The Bitcoin Data Anlayst &nbsp;</div>
        <img class="header__img" src="../../../assets/bitcoin-icon.png" alt="">
    </h1>
</div>
<!---------------------- Page Main Content  ---------------------->
<div id="main_content">
    <!-------------- Current Data  -------------->
    <div class="current">
        <h2 class="current__title  center">Current Bitcoin Exchange Rate</h2>
        <h2 class="current__value">
            USD $ {{bitcoinCurrent}}
        </h2>
        <table class="current__table">
            <tr>
                <th>Last Update:</th>
                <th>To be updated in:</th>
            </tr>
            <tr>
                <td>{{fetchedTime}}</td>
                <td>
                    <countdown #cd [config]="{ leftTime: 60, format: 'mm:ss' }"></countdown>s
                </td>
            </tr>
        </table>
    </div>
    <button #restart (click)="cd.restart()" style="display: none;">test</button>
    <!-------------- Historic Data  -------------->
    <div class="line"></div>
    <div class="historic">
        <!----- Header  ----->
        <h2 class="historic__title center">BITCOIN EXCHANGE RATE PER DAY</h2>
        <!----- Search Dates Input  ----->
        <div class="historic__search">
            <div class="historic__search__from">
                <label for="start">Start date:</label>
                <input #startDay type="date" id="start" name="trip-start" value={{todayDate}} min="2018-01-01">
            </div>
            <div class="historic__search__to">
                <label for="start">End date:</label>
                <input #endDay type="date" id="start" name="trip-start" value="{{todayDate}}" min="2018-01-01">
            </div>
            <div class="historic__search__goto">
                <button type="button" (click)="getPrevious(false, startDay.value, endDay.value)">Search Data</button>
            </div>
        </div>
        <!----- Historic Data Table  ----->
        <table class="historic__table">
            <tr>
                <th>DATE:</th>
                <th colspan="1">EXCHANGE VALUE (USD):</th>
            </tr>
            <tr *ngFor="let links of bitcoinHistoric">
                <td>{{links.data.date}}</td>
                <td>$ {{links.data.amount}} | <span (click)="showToast()" (click)="toastTimer.restart()"
                        (click)="getTRM(links.data.date, links.data.amount)">More
                        Info.</span>
                </td>
            </tr>
        </table>
        <!----- Toast  ----->
        <div #toastDetail class="toast hide-toast">
            <div class="toast__header">
                <img src="../../../assets/bitcoin-icon.png" width="30px">
                <div>
                    Closing in: <countdown #toastTimer [config]="{ leftTime: 30, format: 'mm:ss' }"></countdown>
                </div>
                <button type="button" aria-label="Close" (click)="hideToast()">CLOSE</button>
            </div>
            <h2 class="toast__title center">OTHERS CURRENCIES EXCHANGE RATE</h2>
            <table class="toast__table">
                <tr>
                    <th>CURRENCY:</th>
                    <th colspan="1">BITCOIN EXCHANGE:</th>
                </tr>
                <tr>
                    <td>EUR Euro</td>
                    <td>$ {{exchRateEUR}}</td>
                </tr>
                <tr>
                    <td>COP Colombian Peso</td>
                    <td>$ {{exchRateCOP}}</td>
                </tr>
                <tr>
                    <td>USD US Dollar</td>
                    <td>$ {{exchRateUSD}}</td>
                </tr>
            </table>
            <h3 class="toast__footer">Date: {{dateExchange}}</h3>
        </div>
    </div>
</div>
<!---------------------- Footer  ---------------------->
<div class="footer">
    <h5 class="footer__title">
        Developed by Luis López <br>
        <a href="www.luislopezdev.com">www.luislopezdev.com</a>
    </h5>
</div>