/*----------- Header -----------*/
#header {
    overflow: inherit;
}

.header__title {
    overflow: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 40px;
    text-align: center;
    color: var(--mainYellow);
    background-color: #050505;
    /* position: sticky; */
}

.header__img {
    width: 60px;
    height: auto;
}

/*----------- Main container -----------*/
#data {
    width: 100%;
    padding: 38.5px;
    margin: 0;
    color: var(--mainBlack);
    background-color: var(--mainWhite);
    border: 1px solid var(--mainBlack);
}

/*----------- present Value -----------*/
.present {
    border: var(--mainBorder);
    margin-bottom: 30px;
    text-align: center;
}

.present__title {
    height: var(--mainTitleHeight);
    background-color: var(--mainYellow);
    border-bottom: var(--mainBorder);
    margin-top: 0;
}

.present__value {
    height: 40px !important;
}

.present__table table, th, td {
    border-collapse: collapse;
    border: none;
}

.present__table {
    width: 100%;
}

.present__table th, .present__table td {
    width: 50%;
    height: 30px;
    text-align: center;
}

/*----------- Previous Values -----------*/
.historic__title {
    height: var(--mainTitleHeight);
    background-color: var(--mainYellow);
    border: var(--mainBorder);
    margin: 0;
}

.historic__table {
    width: 100%;
}

.historic__table, .historic__table th, .historic__table tr, .historic__table td {
    border-collapse: collapse;
    border: var(--mainBorder);
}

.historic__table table {
    color: #011936;
    width: 100%;
}

.historic__table th {
    width: 50%;
    height: var(--mainTitleHeight);
    font-size: 20px;
    background-color: var(--mainYellow);
}

.historic__table td {
    width: fit-content;
    height: 30px;
    text-align: center;
}

.historic__search {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
}

.historic__search__from, .historic__search__to {
    width: 45%;
    padding: 10px;
    height: 60px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.historic__search__from input, .historic__search__to input {
    width: 100%;
}

.historic__search__goto {
    font-size: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.historic__search__goto button {
    width: 200px;
    height: 40px;
    background-color: var(--mainYellow);
    border-radius: 5px;
}

/*----------- Footer -----------*/

.footer__title {
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: var(--mainBlack);
    /* background-color: #050505; */
}